@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-body: "Be Vietnam Pro", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  body {
    @apply text-white;
  }
}

@layer theme {
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body);
    line-height: 1.6;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-text-primary);
    background-color: var(--background);
    text-wrap: pretty;
  }
}

@layer components {
  .container {
    margin-inline: auto;
    max-width: 1280px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
